<form class="form-horizontal">
    <div class="form-group form-group-sm">
        <div class="row">
            <label class="col-md-4 control-label">Вопрос</label>
            <div class="col-md-7">
                <textarea ng-model="$ctrl.question.question" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="row">
            <label class="control-label col-md-4">Категория</label>
            <div class="col-md-7">
                <select ng-model="$ctrl.question.category" class="form-control">
                    <option ng-repeat="category in $ctrl.categories">{{ category.name }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="row">
            <label class="control-label col-md-4">Ответы</label>
            <div class="col-md-7">
                <input ng-model="$ctrl.question.answer1" class="form-control" type="text" placeholder="Ответ 1"/>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="row">
            <div class="col-md-7 col-md-offset-4">
                <input ng-model="$ctrl.question.answer2" class="form-control" type="text" placeholder="Ответ 2"/>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="row">
            <div class="col-md-7 col-md-offset-4">
                <input ng-model="$ctrl.question.answer3" class="form-control" type="text" placeholder="Ответ 3"/>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="row">
            <div class="col-md-7 col-md-offset-4">
                <input ng-model="$ctrl.question.answer4" class="form-control" type="text" placeholder="Ответ 4"/>
            </div>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Подтвержден
        </label>
    </div>
    <button class="btn btn-sm btn-primary" ng-click="$ctrl.onSaveClick()">Добавить</button>
</form>