* {
    margin: 0;
}

.card {
    height: 100%;
}

.card-body {
    padding: 1rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.card-header {
    padding: .5rem 1.25rem;
}

.img-sm {
    max-width: 120px;
    min-width: 120px;
}

.search-list {
    padding: 0;
}